.jumbotron-comicsearch{
  position: relative;
  opacity: 0.9;
  margin-top: 50px;
  margin-bottom: 50px;
  max-height: 50px;
}

.jumbotron-comicsresult{
  position: relative;
  margin: auto;
  left: -15%;
  outline-style: dotted;
  width: 130%;
  opacity: 0.9;
}


.comics-container {
  display: flex;
  flex-flow: column wrap;
  font-family: sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

.comics-container .comic, .comics-container .comicResults {
  display: flex;

  font-family: sans-serif;
  align-items: center;
  height: 20px;
  padding: 20px;
  outline-style: solid
}

.comic .header0, .comicResults .title {
  flex:1 0 5%;
}

.comic .header1, .comicResults .issueYear, .comicResults .issueNumber, .comicResults .numChar{
  flex:1 0 0%;
}

.comic .header2, .comicResults .commonChar{
  flex:1 0 20%;
}