.jumbotron-comicsearch{
  position: relative;
  left: -15%;
  width: 80%;
  opacity: 1;
}

.jumbotron-comicsresult{
  position: relative;
  left: -15%;
  width: 130%;
  opacity: 0.9;
}

.comics-container {
  display: flex;
  flex-flow: column wrap;
  font-family: sans-serif;
  margin-top: 5px;
}

.comics-container .comic, .comics-container .comicResults {
  display: flex;
  flex-flow: row nowrap;
  font-family: sans-serif;
  align-items: center;
  height: 80px;
  padding: 0 1px;
}

.comic .header0, .comicResults .title {
  flex:1 0 5%;
}

.comic .header1, .comicResults .issueYear, .comicResults .issueNumber, .comicResults .numChar{
  flex:1 0 0%;
}

.comic .header2, .comicResults .commonChar{
  flex:1 0 20%;
}